<html>
<head>
    <link rel="stylesheet" href="styles.css"></link>
    <script src="libs/react/react.js"></script>
    <script src="libs/react/react-dom.js"></script>
</head>
<body>
    <div id="callouts" class="container"></div>
    <div class="message">Our non-profit theatres and programs are sponsored in part by the following and you:</div>
    <div id="sponsors" class="container"></div>
    <script src="app.js"></script>
</body>
</html>